*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url(assets/ondinha2.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica;
}

.titulo {
    text-align: center;
    font-size: 55px;
    color: rgb(241, 241, 241);
    margin: 5px;
    font-family: cambria;
    
}

.navbar { 
    position: sticky;
    height: 80px;
    width: 100vw;
    border-bottom: 0px black solid;
    box-shadow: black 0px 0px 50px;
    background-color: #09568a;
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1{
    margin-top: 50px;
    width: 90vw;
    background-color: rgba(190, 190, 190, 0.849);
    border-radius: 25px;
}

.t1{
    text-align: center;
    font-size: 30px;
    padding: 50px;
    color: rgb(255, 255, 255);
}

.box1{
    margin: 30px;
    width: 100vw;
    height: 400px;
    background-color: #09568a;
    border-radius: 10px;
}

.box2{
    margin: 30px;
    width: 100vw;
    height: 400px;
    background-color: #09568a;
    border-radius: 10px;
}

.box3{
    margin: 30px;
    width: 1670px;
    height: 300px;
    background-color: #09568a;
    border-radius: 10px;
}

.flex {
    display: flex;
}

.titulo_box {
font-family: cambria;
text-align: center;
color: white;
margin-top: 25px;
margin-bottom: 30px;
font-size: 45px;
}

.texto_box{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: times;
    margin: 50px;
}

.botao_box {
    background-color: #09568a;
    color: white;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    
}

.botao_box:hover{
    background-color: #357cac;
}


a{
    color: white;
    text-decoration: none;
}

















































































































































































































































/*Position*/

.section-position{
    width: 80vw;
    height: auto;
    background-color: rgba(190, 190, 190, 0.849);
    margin-top: 10vh;
    border-radius: 25px;
    padding: 30px;
}

.title_position{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.box1-position{
    width: 90%;
    height: auto;
    background-color: #09568a;
    margin: 40px auto;
    border-radius: 20px;
}

.box_static{
    margin: 50px auto 0;
    background-color: white;
    width: 90%;
    padding: 30px;
    border-radius: 15px 15px 0 0;
}

.box_static>h2{
    text-align: center;
    margin-top: 30px;
}

.box_static>p{
    width: 70%;
    text-align: justify;
    margin: 30px auto;
}

.box_relative{
    margin: 15px auto 0;
    background-color: white;
    width: 90%;
    padding: 30px;
}

.box_relative>h2{
    text-align: center;
    margin-top: 30px;
}

.box_relative>p{
    width: 70%;
    text-align: justify;
    margin: 30px auto;
}


.box_absolute{
    margin: 15px auto 0;
    background-color: white;
    width: 90%;
    padding: 30px;
}

.box_absolute>h2{
    text-align: center;
    margin-top: 30px;
}

.box_absolute>p{
    width: 70%;
    text-align: justify;
    margin: 30px auto;
}


.box_fixed{
    margin: 15px auto 0;
    background-color: white;
    width: 90%;
    padding: 30px;
}

.box_fixed>h2{
    text-align: center;
    margin-top: 30px;
}

.box_fixed>p{
    width: 70%;
    text-align: justify;
    margin: 30px auto;
}


.box_sticky{
    margin: 15px auto 50px;
    background-color: white;
    width: 90%;
    padding: 30px;
    border-radius: 0 0 15px 15px;
}

.box_sticky>h2{
    text-align: center;
    margin-top: 30px;
}

.box_sticky>p{
    width: 70%;
    text-align: justify;
    margin: 30px auto;
}









.section-display{
    width: 80vw;
    height: auto;
    background-color: rgba(190, 190, 190, 0.849);
    margin-top: 10vh;
    border-radius: 25px;
    padding: 30px;
}

.title_display{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.box1-display{
    width: 90%;
    height: auto;
    background-color: #09568a;
    margin: 40px auto;
    border-radius: 20px;
}


.box_block{
    margin: 15px auto;
    background-color: white;
    width: 90%;
    padding: 30px;
    border-radius: 15px 15px 0 0;
}

.box_block>h2{
    text-align: center;
    margin-top: 30px;
}

.box_block>p{
    width: 70%;
    text-align: justify;
    margin: 30px auto;
}

.box_inline{
    margin: 15px auto;
    background-color: white;
    width: 90%;
    padding: 30px;
}

.box_inline>h2{
    text-align: center;
    margin-top: 30px;
}


.box_inline>p{
    width: 70%;
    text-align: justify;
    margin: 30px auto;
}

.box_inlina{
    margin: 15px auto 50px;
    background-color: white;
    width: 90%;
    padding: 30px;
    border-radius: 0 0 15px 15px;
}

.box_inlina>h2{
    text-align: center;
    margin-top: 30px;
}

.box_inlina>p{
    width: 70%;
    text-align: justify;
    margin: 30px auto;
}