*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url(assets/ondinha2.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica;
}

.navbar { 
    position: sticky;
    height: 30px;
    width: 100vw;
    border-bottom: 0px black solid;
    box-shadow: black 0px 0px 50px;
    background-color: #09568a;
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1{
    margin-top: 50px;
    width: 90vw;
    background-color: rgba(190, 190, 190, 0.849);
    border-radius: 25px;
}

.t1{
    text-align: center;
    font-size: 30px;
    padding: 50px;
    color: rgb(255, 255, 255);
}

.box1{
    margin: 30px;
    width: 100vw;
    height: 400px;
    background-color: #09568a;
    border-radius: 10px;
}

.box2{
    margin: 30px;
    width: 100vw;
    height: 400px;
    background-color: #09568a;
    border-radius: 10px;
}

.flex {
    display: flex;
}

.titulo_box {


}